<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">New Password Request</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h2>
        Hello <span th:text="${user.name}"> </span>!
    </h2>
    <h2>
        Your new password request is completed!
    </h2>
    <h3>
        Try to log in using the new password bellow:<br>
    </h3>
    <b><span th:text="${newPassword}"></span></b>


    <p>
        <i>Envy your budget</i>
        <br>
    </p>
    <img width="240" src="https://raw.githubusercontent.com/emersonrjr03/envy-api/master/src/main/resources/static/images/big-logo.png" alt="logo"/>
</div>
</body>
</html>