<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">New Password Request</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h2>
        Hello <span th:text="${user.name}"> </span>! Your new password request is completed!
    </h2>
    <h3>
        Try to log in using the new password bellow:<br>
        <span th:text="${newPassword}"></span>
    </h3>

    <p>
        Envy your budget
        <img src="/static/images/big-logo.png" alt="logo"/>
    </p>
</div>
</body>
</html>